extends flayout

block content
  div(class='jumbotron attend' id='top')
    h1
      span(class='thin') PODO
      span(class='bold')  LAU
  div(class='container')
    h3='RSVP For: '+ attendees[0]
    form(method="post" action="/een/thanks")
      for attendee, i in attendees
        div(class='col-md-6')
            div.form-group
              label(for="name"+i) Name:
              input(type="text", name="name"+i, value=attendee, class="form-control")
            div.form-group
              label(for="attend_choice"+i) Attendance:
              select.form-control(name='attend_choice'+i)
                option Will be in attendance
                option Will not be in attendance
            div.form-group
              label(for="food_choice"+i) Meal Preference:
              select.form-control(name='food_choice'+i)
                option ---
                option Duo (Beef and Fish)
                option Beef
                option Fish
                option Vegetarian
            div.form-group
              label(for="allergies"+i) Allergies:
              input(type="text", name="allergies"+i, value=comment, class="form-control")
            div.form-group
              label(for="cake_preference"+i) Cake Preference:
              select.form-control(name='cake_preference'+i)
                option ---
                option Shangri-la (white chocolate and guava mousse, strawberries, vanilla cake)
                option Salted Caramel Butterscotch Pecan Cake
                option Gianduia (rum chocolate cake, hazelnut buttercream, boysenberry preserves)
      div(class='col-md-12')
        input(type="submit", value="Are you ready?", class="btn btn-primary")

        p
          em
            small Dessert courtesy of Extraordinary Desserts in Balboa Park.

//- Both names listed (si/nay coming?)
//- if immediate family or friendz: how many kidz?
//- food choice and allergies? fish, beef, fish and beef, veggie
//- CAKE CHOICE! Shangri-la, salted butternut pecan, mocha latte
//- are you ready?
