extends layout

block content
  div(class='fill')
    div(class='jumbotron' id='top')
      div(class='container')
        h1
          span(class='thin') PODO
          span(class='bold') LAU

  div(class='container')
    div(id='and_the_story' class='fixheight')
    div(class='col-md-12')
      h2(class='txtcenter')
        span(class='thin') The
        span(class='bold')  Story
    div(class='row row-grid')
      div(class='col-md-offset-1 col-md-3')
        img(src='/images/map/map1.png' class='story')
      div(class='col-md-7')
        h4 They Meet.
        p It begins with Ed in the Bay Area and Colleen in San Diego. They met over July 4th weekend, 2009, in San Francisco, through their mutual friend, Thomson. Colleen thought Ed was creepy (and let's be real, he was). Shunned, he climbed a telephone poll in the middle of the Sunset District, fell awkwardly, and sprained his leg.

    div(class='row row-grid')
      div(class='col-md-offset-1 col-md-3')
        img(src='/images/map/map2.png' class='story')
      div(class='col-md-7')
        h4 Try Number Two.
        p Eventually they re-met thanks to another mutual friend, Steve Jobs. Colleen, now living in New York for school, bought a new Macbook with a fancy web cam, and with some convincing from Thomson, talked to Ed once again. With the magic of blurry webcams, Colleen somehow found Ed attractive, and the two hit it off.

    div(class='row row-grid')
      div(class='col-md-offset-1 col-md-3')
        img(src='/images/map/map3.png' class='story')
      div(class='col-md-7')
        h4 Long Distance Begins.
        p Colleen and Ed figured dating was worth a shot after months of spending time with each other on "this will never need to be rebranded" chat service, iChat. Ed, off screen, made a "yussss" sound, and in October, flew out from Napa to hangout with Colleen in New York.

    div(class='row row-grid')
      div(class='col-md-offset-1 col-md-3')
        img(src='/images/map/map4.png' class='story')
      div(class='col-md-7')
        h4 The Cross-Country Road Trip.
        p Many flights back and forth over two years occurred, confirming for Colleen's friends that she did in fact have a real boyfriend. In 2011, Colleen helped Ed move to New York with a cross-country drive in his stick-shift Nissan Altima. Fun fact: Colleen doesn't know how to drive stick.

    div(class='row row-grid')
      div(class='col-md-offset-1 col-md-3')
        img(src='/images/map/map5.png' class='story')
      div(class='col-md-7')
        h4 The Proposal.
        p With a PhD, a dog, and their own apartment, Ed proposed to Colleen on Christmas Day, 2015, with a giant rock [<a href='http://vignette3.wikia.nocookie.net/pikmin/images/2/2b/Rock_Pikmin-Pikmin3.png/revision/latest?cb=20121129012438', target='_blank'>Pikmin</a>] he made.

    div(class='col-md-12 top-buffer')
      div(id='and_the_gang' class='fixheight')
      h2(class='txtcenter')
        span(class='thin') The
        span(class='bold')  Gang
      div(class='col-md-6')
        h3
          strong Bride's Side

        each bridesmaid in bridesmaids
          div(class="media")
            span(class="media-left")
              img(class="media-object" src='/images/' + bridesmaid.img width=100)
            div(class="media-body")
              h4(class="media-heading")= bridesmaid.name
              p !{bridesmaid.story}

      div(class='col-md-6')
        h3
          strong Groom's Room

        each groomsman in groomsmen
          div(class="media")
            span(class="media-left")
              img(class="media-object" src='/images/' + groomsman.img width=100)
            div(class="media-body")
              h4(class="media-heading")= groomsman.name
              each story in groomsman.story
                p(class='inline')= story


    div(class='col-md-12')
      h3(class='txtcenter')
        strong With Special Guests...
      div(class='col-md-12')
        div(class='row row-grid')
          div(class='col-md-offset-4 col-md-6')
            div(class="media")
              span(class="media-left")
                img(class="media-object" src='/images/susi2.jpg' width=100)
              div(class="media-body")
                h4(class="media-heading txtleft") Susi the flower dog
                p <a href='http://www.instagram.com/susitheshihtzu' target='_blank'>Susi</a> is Ed and Colleen's 9-year old Shih Tzu rescue. She loves napping and flipping around in her bed. Her favorite command she likes to give is "give me a belly rub."

        div(class='row row-grid')
          div(class='col-md-offset-4 col-md-6')
            div(class="media")
              span(class="media-left")
                img(class="media-object" src='/images/khoa.jpg' width=100)
              div(class="media-body")
                h4(class="media-heading txtleft") Khoa Lam, Officiant
                p Khoa knows Colleen through middle school, and Ed separately through a shared passion for music, education, and hockey. At Game 6 of the Stanley Cup Finals, Ed "proposed" to Khoa (to be the officiant). Collectively, the three represent almost 30 years of friendship.

  div(class='container top-buffer')
    div(id='and_the_place' class='fixheight')
    h2(class='txtcenter')
      span(class='thin') The
      span(class='bold')  Place

  a(href='https://goo.gl/maps/jJhB2aey4sG2' target='_blank')
    div(class='jumbotron address top-buffer')
  div(class='container')
    div(class='col-md-6')
      h3
        strong I want to go to there.
      h4 Date and Time
      p
        | March 25, 2017 <br />
        | Ceremony Begins at 6:00pm

      h4 Location
      p
        | #[a(href='http://bricksd.com/' target='_blank') Brick SD] <br />
        | 2863 Historic Decatur Road <br />
        | San Diego, CA 92106 <br />

      h4 Attire
      p Cocktail

    div(class='col-md-6')
      h3
        strong I want to stay to there.
      div(class='hotel-set')
        h4
          a(href="http://bit.ly/2j25fB6" target='_blank') Courtyard Marriott
        a(href="http://bit.ly/2j25fB6" target='_blank')
          img(src='/images/marriot.jpg' class='hotel')
      div(class='hotel-set')
        h4
          a(href="http://homewoodsuites3.hilton.com/en/hotels/california/homewood-suites-by-hilton-san-diego-airport-liberty-station-SANLSHW/index.html" target="_blank") Homewood Suites
        a(href="http://homewoodsuites3.hilton.com/en/hotels/california/homewood-suites-by-hilton-san-diego-airport-liberty-station-SANLSHW/index.html" target="_blank")
          img(src='/images/homewood.jpg' class='hotel')


  div(class='container footer top-buffer border-top')
    div(class='col-md-12')
      div(class="media")
        img(class="media-object" src='/images/susi5.jpg' width=100)
        span  see you there!

  div(class='container')
    p(class='right')
      em Engagement photos courtesy of <a href='https://www.instagram.com/annebozack/' target='_blank'>Anne Bozack</a>.
