body {
    background: rgb(219, 215, 205);
    color: #000;
    padding-top: 50px;
}

body .bold {
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

body, .smooth-container { scroll-behavior: smooth }

img {
  image-rendering: crisp-edges;
}

.hotel-set {
    float: left;
    margin-right: 20px;
}

.hotel-set h4 {
    margin-top: 0px;
}

.fill {
    background: url('/images/background.jpg') no-repeat right top;
    height: 500px;
}

.jumbotron h1 {
    font-size: 118px;
    color: rgba(8,16,32,1);
    font-family: 'Josefin Sans';
}

.jumbotron {
    background: url('/images/head1b.jpg') no-repeat right bottom;
    height: 600px;
    width: 100%;
    position: relative;
    bottom: 50px;
    border-bottom: 1px solid rgb(110, 108, 102);
    border-top: 1px solid rgb(110, 108, 102);
}

.jumbotron#top {
    margin-bottom: -50px;
}

.jumbotron.thanks {
    background: url('/images/head2b.jpg') no-repeat center;
    background-size: cover;
}

.jumbotron.attend {
    background: url('/images/head3b.jpg') no-repeat center;
    background-size: cover;
}

.jumbotron.address {
    background: url('/images/address2.png') center;
    height: 300px;
    width: 100%;
    bottom: 0;
}

.story {
    width: 100%;
}

a {
    color: #000 !important;
    text-decoration: underline;
}

.navbar-text a {
    text-decoration: none;
}

.fixheight {
    min-height: 50px;
}

h1, h2, h3, h4, h5, h6, label {
    color: #000;
    font-family: 'Sanchez';
    font-weight: 400;
}

h2 {
    font-family: 'Josefin Sans';
    font-variant: small-caps;
    font-size: 48px;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 700;
}

.navbar-fixed-top {
    background-color: rgba(0, 0, 0, .8);
    font-family: 'Josefin Sans';
}

.navbar p a {
    color: #fff !important;
}

p, li {
    font-family: 'Poppins';
    font-weight: 100;
    color: rgb(54, 53, 51);
}

p.inline {
    margin: 0;
}

img.fullbleed {
    width: 100%;
}

/* class overrides */
.page-header {
    border-bottom: #000 1px solid;
    text-align: center;
}

.page-header h1 {
    font-size: 72px;
    font-weight: 800;
}

.txtcenter {
    text-align: center;
}

.txtleft {
    text-align: left;
}

.right {
    text-align: right;
}

img.media-object {
  border-radius: 50%;
}

.footer img {
    display: inline;
}

.border-top {
    border-top: 1px solid rgb(110, 108, 102);
}

.hotel {
    padding: 5px 0;
}

.footer {
    padding: 10px 0;
}

.footer span {
    font-size: 72px;
    color: rgba(8,16,32,1);
    font-family: 'Josefin Sans';
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

.row-grid + .row-grid {
    margin-top: 15px;
}

em {
    font-family: 'Sanchez';
}

.top-buffer {
    margin-top: 20px;
}

.media {
    min-height: 120px;
}

@media (max-width: 480px) {
    .jumbotron h1 {
        font-size: 62px;
    }
    .jumbotron {
        background-position: 85% -20px;
        background-size: 260%;
        height: 540px;
    }
    .jumbotron.thanks {
        background-position: 85% 0px;
        height: 300px;
    }
    .footer span {
        font-size: 32px;
        color: rgba(8,16,32,1);
        font-family: 'Josefin Sans';
    }
    .fill {
        height: 490px;
    }
}
@media (min-width: 480px) {
    .jumbotron {
        background-position: -450px -190px;
        /*background-size: cover;*/
        height: 579px;
    }
    .jumbotron h1 {
        font-size: 96px;
    }
    .fill {
        height: 529px;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
    .jumbotron {
        background-position: 85% 70%;
        background-size: initial;
    }
    .footer span {
        font-size: 44px;
        color: rgba(8,16,32,1);
        font-family: 'Josefin Sans';
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
    .jumbotron {
        background-position: center -210px;
        height: 550px;
    }
}
@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
    .fill {
        height: 500px;
    }
}
@media (min-width: 1440px) {
    .jumbotron {
        height: 550px;
        /*background-size: 100%;*/
        /*background-position: bottom 0;*/
    }
}