body {
    background: rgb(219, 215, 205);
    color: #000;
    padding-top: 50px;
}

body .bold {
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

body, .smooth-container { scroll-behavior: smooth }

.jumbotron {
    background: url('/images/head1.jpg') no-repeat right bottom;
    min-height: 100%;
    height: 600px;
    width: 100%;
    position: relative;
    bottom: 50px;
    border: 1px solid rgb(110, 108, 102);

}

.jumbotron#top {
    margin-bottom: -50px;
}

.jumbotron.address {
    background: url('/images/address2.png') center;
    height: 300px;
    width: 100%;
    bottom: 0;
}

.jumbotron.susi {
    background: url('/images/susi3.jpg') no-repeat bottom;
    background-size: cover;
    height: 300px;
    bottom: 0;
}

.jumbotron.attend {
    background: url('/images/head3.jpg') no-repeat center;
    background-size: cover;
}

.jumbotron.thanks {
    background: url('/images/head2.jpg') no-repeat bottom;
    background-size: cover;
}

.story {
    width: 100%;
}

a {
    color: #000 !important;
    text-decoration: underline;
}

.navbar-text a {
    text-decoration: none;
}

.fixheight {
    min-height: 50px;
}

h1, h2, h3, h4, h5, h6, label {
    color: #000;
    font-family: 'Sanchez';
    font-weight: 400;
}

h2 {
    font-family: 'Josefin Sans';
    font-variant: small-caps;
}

h2 {
    font-size: 48px;
}

.thin {
    font-weight: 100;
}

.bold {
    font-weight: 700;
}

.navbar-fixed-top {
    /*background-color: rgb(219, 215, 205);*/
    background-color: rgba(0, 0, 0, .8);
    font-family: 'Josefin Sans';
}

.navbar p a {
    color: #fff !important;
}

p, li {
    font-family: 'Poppins';
    font-weight: 100;
    color: rgb(54, 53, 51);
}

p.inline {
    margin: 0;
}

img.fullbleed {
    width: 100%;
}

/* class overrides */
.page-header {
    border-bottom: #000 1px solid;
    text-align: center;
}

.page-header h1 {
    font-size: 72px;
    font-weight: 800;
}

.txtcenter {
    text-align: center;
}

.txtleft {
    text-align: left;
}

img.media-object {
  border-radius: 50%;
}

.jumbotron h1 {
    font-size: 118px;
    color: rgba(8,16,32,1);
    font-family: 'Josefin Sans';
}

.row.row-grid [class*="col-"] + [class*="col-"] {
    margin-top: 15px;
}

@media (max-width: 480px) {
    .jumbotron h1 {
        font-size: 62px;
    }
    .jumbotron {
        background-position: 85% -20px;
        background-size: 260%;
    }
    .jumbotron.thanks {
        background-position: 85% 0px;
        height: 300px;
    }
    .jumbotron.susi {
        background-position: 75%;
    }
}
@media (min-width: 768px) {
    .row.row-grid [class*="col-sm-"] + [class*="col-sm-"] {
        margin-top: 0;
    }
    .jumbotron {
        background-position: 85% 70%;
    }
}
@media (min-width: 992px) {
    .row.row-grid [class*="col-md-"] + [class*="col-md-"] {
        margin-top: 0;
    }
    .jumbotron {
        background-position: center -210px;
    }
}
@media (min-width: 1200px) {
    .row.row-grid [class*="col-lg-"] + [class*="col-lg-"] {
        margin-top: 0;
    }
}



.row-grid + .row-grid {
    margin-top: 15px;
}

em {
    font-family: 'Sanchez';
}

.top-buffer {
    margin-top: 20px;
}

.media {
    min-height: 120px;
}
